<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My exercises</ion-title>
  </ion-toolbar>

  <ion-searchbar [(ngModel)]="titleFilter" placeholder="Exercise title"></ion-searchbar>

  <ion-item>
    <ion-select [(ngModel)]="categoryFilter" placeholder="Category">
      <ion-select-option value="">Show all</ion-select-option>
      <ion-select-option *ngFor="let category of categories" value="{{ category.id  }}">{{ category.name }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let exercise of exercises | search : titleFilter : ['title'] | search : categoryFilter : ['category', 'id']"
    (click)="navigateToExercise(exercise.id)">
    <ion-card-header>
      <ion-card-title>{{ exercise.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Doctor: {{ exercise.doctor.name }}</p>
      <p>Category: {{ exercise.category.name }}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="navigateToCreateExercise()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>