<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Associate new patient</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Parent ID" (ionInput)="searchParent($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let patient of patients" (click)="addPatient(patient.id)">
    <ion-card-header>
      <ion-card-title>{{ patient.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet.</p>
    </ion-card-content>
  </ion-card>
</ion-content>