<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Exercise</ion-title>

    <ion-buttons *ngIf="iAmAuthor && segment === 'info'" slot="end">
      <ion-button style="margin-right: 16px" (click)="editExercise()" [disabled]="!editExerciseForm.valid">
        <ion-icon name="save"></ion-icon>
      </ion-button>
      <ion-button style="margin-right: 16px" (click)="removeExercise()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="info">
      Info
    </ion-segment-button>
    <ion-segment-button value="multimedia">
      Multimedia
    </ion-segment-button>
    <ion-segment-button value="opinions">
      Opinions
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment" padding-vertical>

    <div *ngSwitchCase="'info'">
      <form [formGroup]="editExerciseForm">
        <ion-item>
          <ion-label position="floating">Title*</ion-label>
          <ion-input type="text" formControlName="title" [readonly]="!iAmAuthor"></ion-input>
        </ion-item>
        <p ion-text color="danger" *ngIf="!editExerciseForm.controls.title.pristine && !editExerciseForm.controls.title.valid">
          The title should not be blank
        </p>
        <ion-item margin-top>
          <ion-label>Category*</ion-label>
          <ion-select placeholder="Select one" formControlName="category" [disabled]="!iAmAuthor">
            <ion-select-option *ngFor="let category of categories" value="{{ category.id  }}">{{ category.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item margin-top>
          <ion-textarea formControlName="description" [readonly]="!iAmAuthor" style="background-color:gainsboro" rows="10"
            placeholder="Enter the description of the exercise"></ion-textarea>
        </ion-item>
      </form>
    </div>

    <div *ngSwitchCase="'multimedia'">
      <ion-item margin-top>
        <div *ngIf="exerciseVideo == null && !iAmAuthor">No videos found</div>
        <div *ngIf="exerciseVideo == null && iAmAuthor">
          <ion-button (click)="getAndUploadVideo()">
            Upload video
            <ion-icon slot="start" name="cloud-upload"></ion-icon>
          </ion-button>
        </div>
        <div *ngIf="exerciseVideo != null"><a (click)="playVideo()">Play video</a></div>
        <ion-item *ngIf="exerciseVideo != null && iAmAuthor" item-end>
          <ion-icon name="remove-circle" (click)="deleteVideo()"></ion-icon>
        </ion-item>
      </ion-item>

      <ion-item-divider></ion-item-divider>

      <ion-item margin-top *ngIf="exerciseImages?.length === 0 && !iAmAuthor">
        No images found
      </ion-item>
      <ion-slides pager="true" margin-top *ngIf="exerciseImages?.length > 0">
        <ion-slide *ngFor="let exerciseImage of exerciseImages">
          <ion-card>
            <ion-icon *ngIf="iAmAuthor" name="close" float-right margin (click)="deleteImage(exerciseImage)"></ion-icon>
            <img src="http://i.imgur.com/I86rTVl.jpg" (click)="showImage(exerciseImage)" />
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-item>
        <div *ngIf="iAmAuthor">
          <ion-button (click)="getAndUploadImage()">
            Upload image
            <ion-icon slot="start" name="cloud-upload"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </div>

    <div *ngSwitchCase="'opinions'">
      <ion-card *ngFor="let opinion of opinions">
        <ion-card-header>
          <ion-card-title>{{ opinion.parent.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ opinion.text }}</p>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>