<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" *ngIf="authenticatedAsParent"></ion-menu-button>
    <ion-back-button slot="start" *ngIf="!authenticatedAsParent"></ion-back-button>
    <ion-buttons slot="end" *ngIf="authenticatedAsParent">
      <ion-button style="margin-right: 16px" (click)="editProfile()" [disabled]="!editParentForm.valid">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ authenticatedAsParent ? 'My profile' : 'Parent profile' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editParentForm" (ngSubmit)="editParent()">
    <ion-item>
      <ion-label position="floating">Full name*</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!editParentForm.controls.name.pristine && !editParentForm.controls.name.valid">
      The name should not be blank
    </p>
    <ion-item>
      <ion-label position="floating">ID*</ion-label>
      <ion-input type="text" formControlName="idNumber"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!editParentForm.controls.idNumber.pristine && !editParentForm.controls.idNumber.valid">
      The ID should not be blank
    </p>
    <ion-item>
      <ion-label position="floating">Telephone*</ion-label>
      <ion-input type="tel" formControlName="telephone"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!editParentForm.controls.telephone.pristine && !editParentForm.controls.telephone.valid">
      The telephone should not be blank
    </p>
  </form>

  <ion-fab *ngIf="!authenticatedAsParent" vertical="bottom" horizontal="end" slot="fixed" (click)="openChat()">
    <ion-fab-button>
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>