<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" *ngIf="authenticatedAsParent"></ion-menu-button>
    <ion-back-button slot="start" *ngIf="!authenticatedAsParent"></ion-back-button>
    <ion-buttons slot="end" *ngIf="authenticatedAsParent">
      <ion-button style="margin-right: 16px" (click)="editProfile()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ authenticatedAsParent ? 'My profile' : 'Parent profile' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab *ngIf="!authenticatedAsParent" vertical="bottom" horizontal="end" slot="fixed" (click)="openChat()">
    <ion-fab-button>
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>