<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
  <ion-searchbar slot="end" placeholder="{{ authenticatedAsParent ? 'Doctor name' : 'Parent name' }}" (ionInput)="filterChats($event)"></ion-searchbar>
</ion-header>

<ion-content padding-vertical>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat()">
      <ion-avatar slot="start">
        <img src="/resources/icon.png">
      </ion-avatar>
      <ion-label>
        <h2>John Doe</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="navigateToContacts()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>