<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="performExtraLocationBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ chat?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding #content>
  <div class="message-wrap">
    <div *ngFor="let message of messages" class="message" [class.left]="!imSenderOf(message)" [class.right]="imSenderOf(message)">
      <div class="msg-detail">
        <div class="msg-info">
          <p>{{ message.timestamp | date:'dd/MM/yyyy HH:mm' }}</p>
        </div>
        <div class="msg-content">
          <p class="line-breaker ">{{ message.text }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <div class="input-wrap">
    <textarea placeholder="Mensaje" [(ngModel)]="newMessage"></textarea>
    <ion-button style="margin-left: 8px" [disabled]="!newMessage" (click)="sendMessage(newMessage)">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
</ion-footer>