<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="performExtraLocationBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ chat?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let message of messages | sort : 'timestamp'">
      <ion-label>
        <h4>{{ message.text }}</h4>
        <h6 style="color:grey" text-end>{{ message.timestamp | date:'dd/MM/yyyy HH:mm' }}</h6>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input style="margin-right:16px" type="text" placeholder="Mensaje" [(ngModel)]="newMessage"></ion-input>
      <ion-button item-end color="primary" (click)="sendMessage()" [disabled]="!newMessage">Enviar</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>