<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register parent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerParentForm" (ngSubmit)="registerParent()">
    <ion-item>
      <ion-label position="floating">Full name*</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!registerParentForm.controls.name.pristine && !registerParentForm.controls.name.valid">
      The name should not be blank
    </p>
    <ion-item>
      <ion-label position="floating">ID*</ion-label>
      <ion-input type="text" formControlName="idNumber"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="idNumberAlreadyRegistered">
      The ID is already in use
    </p>
    <p ion-text color="danger" *ngIf="!registerParentForm.controls.idNumber.pristine && !registerParentForm.controls.idNumber.valid">
      The ID should not be blank
    </p>
    <ion-item>
      <ion-label position="floating">Telephone*</ion-label>
      <ion-input type="tel" formControlName="telephone"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!registerParentForm.controls.telephone.pristine && !registerParentForm.controls.telephone.valid">
      The telephone should not be blank
    </p>
    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="emailAlreadyRegistered">
      The email is already in use
    </p>
    <p ion-text color="danger" *ngIf="!registerParentForm.controls.email.pristine && !registerParentForm.controls.email.valid">
      The given email is not valid
    </p>
    <div [formGroup]="passwordsFormGroup">
      <ion-item>
        <ion-label position="floating">Password*</ion-label>
        <ion-input clearOnEdit="false" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" *ngIf="!passwordsFormGroup.controls.password.pristine && !passwordsFormGroup.controls.password.valid">
        The password must have at least 8 characters
      </p>
      <ion-item>
        <ion-label position="floating">Password confirmation*</ion-label>
        <ion-input clearOnEdit="false" type="password" formControlName="passwordConfirmation"></ion-input>
      </ion-item>
      <p ion-text color="danger" *ngIf="!passwordsFormGroup.controls.passwordConfirmation.pristine && passwordsFormGroup.errors?.doesNotMatchPassword">
        The password does not match
      </p>
    </div>
    <ion-item no-lines margin-top>
      <ion-checkbox no-margin formControlName="acceptTerms"></ion-checkbox>
      <ion-item href="/terms" routerDirection="forward">I do accept Terms & Conditions</ion-item>
    </ion-item>
    <ion-button margin-top expand="block" type="submit" [disabled]="!registerParentForm.valid">Register</ion-button>
  </form>
</ion-content>