<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!loginForm.controls.email.pristine && !loginForm.controls.email.valid">
      The given email is not valid
    </p>
    <ion-item>
      <ion-label position="floating">Password*</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!loginForm.controls.password.pristine && !loginForm.controls.password.valid">
      The password should not be blank
    </p>
    <p ion-text color="danger" *ngIf="invalidCredentials">
      The given credentials are not valid
    </p>
    <ion-button margin-top expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>
</ion-content>