<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="!loginForm.controls.email.pristine && !loginForm.controls.email.valid">
      El email introducido no es válido
    </p>
    <ion-item>
      <ion-label position="floating">Contraseña*</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="!loginForm.controls.password.pristine && !loginForm.controls.password.valid">
      La contraseña no puede estar vacía
    </p>
    <p class="danger" *ngIf="invalidCredentials">
      Las credenciales introducidas no son válidas
    </p>
    <ion-button margin-top expand="block" type="submit" [disabled]="!loginForm.valid">Iniciar sesión</ion-button>
  </form>
</ion-content>