<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asociar tutor</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="DNI/NIF/NIE" (ionInput)="searchParent($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="parent != null" (click)="addParent()">
    <ion-card-header>
      <ion-card-title>{{ parent.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Teléfono: {{ parent.telephone }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>