<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create doctor</ion-title>
    <ion-buttons slot="end">
      <ion-button style="margin-right: 16px" (click)="createDoctor()" [disabled]="!createDoctorForm.valid">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createDoctorForm">
    <ion-item>
      <ion-label position="floating">Full name*</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!createDoctorForm.controls.name.pristine && !createDoctorForm.controls.name.valid">
      The name should not be blank
    </p>
    <ion-item>
      <ion-label position="floating">Board number*</ion-label>
      <ion-input type="text" formControlName="boardNumber"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="boardNumberAlreadyRegistered">
      The board number is already in use
    </p>
    <p ion-text color="danger" *ngIf="!createDoctorForm.controls.boardNumber.pristine && !createDoctorForm.controls.boardNumber.valid">
      The board number should not be blank
    </p>
    <ion-item>
      <ion-label position="floating">Telephone*</ion-label>
      <ion-input type="tel" formControlName="telephone"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!createDoctorForm.controls.telephone.pristine && !createDoctorForm.controls.telephone.valid">
      The telephone should not be blank
    </p>
    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="emailAlreadyRegistered">
      The email is already in use
    </p>
    <p ion-text color="danger" *ngIf="!createDoctorForm.controls.email.pristine && !createDoctorForm.controls.email.valid">
      The given email is not valid
    </p>
  </form>
</ion-content>