<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mis hijos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let child of children" (click)="navigateToChild(child.id)">
    <ion-card-header>
      <ion-card-title>{{ child.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha de nacimiento: {{ child.dateOfBirth | date : 'dd/MM/yyyy' }}</p>
      <p>Sexo: {{ child.gender === 'M' ? 'Masculino' : 'Femenino' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>