<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="pending">
      Pending
    </ion-segment-button>
    <ion-segment-button value="finished">
      Finished
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'all'">
      <ion-card *ngFor="let assignment of assignments" (click)="navigateToAssignment()">
        <ion-card-header>
          <ion-card-title>Lorem ipsum dolor sit amet.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>Lorem ipsum dolor sit amet.</ion-text>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'pending'">
      <ion-card *ngFor="let assignment of pendingAssignments" (click)="navigateToAssignment()">
        <ion-card-header>
          <ion-card-title>Lorem ipsum dolor sit amet.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>Lorem ipsum dolor sit amet.</ion-text>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'finished'">
      <ion-card *ngFor="let assignment of finishedAssignments" (click)="navigateToAssignment()">
        <ion-card-header>
          <ion-card-title>Lorem ipsum dolor sit amet.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>Lorem ipsum dolor sit amet.</ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>