<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mis tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="in progress">
      En curso
    </ion-segment-button>
    <ion-segment-button value="disrupted">
      Interrumpidas
    </ion-segment-button>
    <ion-segment-button value="achieved">
      Superadas
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let assignment of assignments | search : segment : ['state']" (click)="navigateToAssignment(assignment.id)">
    <ion-card-header>
      <ion-card-title>{{ assignment.child.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{ assignment.exercise.title }}</ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>