<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My parents</ion-title>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="nameFilter" placeholder="Parent name"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let parent of parents | search : nameFilter" (click)="navigateToParent(parent.id)">
      <ion-avatar slot="start">
        <img src="resources/icon.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ parent.name }}</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>