<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My parents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let parent of parents" (click)="navigateToParent()">
      <ion-avatar slot="start">
        <img src="resources/icon.png">
      </ion-avatar>
      <ion-label>
        <h2>John Doe</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addParent()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>