<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="margin-right: 16px" (click)="createChild()" [disabled]="!createChildForm.valid">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add new child</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createChildForm">
    <ion-item>
      <ion-label position="floating">Full name*</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!createChildForm.controls.name.pristine && !createChildForm.controls.name.valid">
      The name should not be blank
    </p>
    <ion-item margin-top>
      <ion-label>Gender*</ion-label>
      <ion-select placeholder="Select one" formControlName="gender">
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <p ion-text color="danger" *ngIf="!createChildForm.controls.gender.pristine && !createChildForm.controls.gender.valid">
      The gender should not be blank
    </p> -->
    <ion-item>
      <ion-label position="floating">Date of birth*</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" formControlName="dateOfBirth"></ion-datetime>
    </ion-item>
    <!-- <p ion-text color="danger" *ngIf="!createChildForm.controls.dateOfBirth.pristine && !createChildForm.controls.dateOfBirth.valid">
      The date of birth should not be blank
    </p> -->
  </form>
</ion-content>