<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New chat</ion-title>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="nameFilter" placeholder="{{ authenticatedAsParent ? 'Doctor name' : 'Parent name' }}"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let contact of contacts | search : nameFilter : ['name']" (click)="openChatWith(contact.id)">
      {{ contact.name }}
    </ion-item>
  </ion-list>
</ion-content>