<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My children</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let child of children" (click)="navigateToChild(child.id)">
    <ion-card-header>
      <ion-card-title>{{ child.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pending exercises: 1</p>
      <p>Finished exercises: 2</p>
    </ion-card-content>
  </ion-card>
</ion-content>