<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Patient name" (ionInput)="filterPatients($event)"></ion-searchbar>

  <ion-card *ngFor="let patient of patients" (click)="navigateToPatient()">
    <ion-card-header>
      <ion-card-title>John Doe Jr.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pending exercises: 1</p>
      <p>Finished exercises: 2</p>
    </ion-card-content>
  </ion-card>
</ion-content>