<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My patients</ion-title>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="nameFilter" placeholder="Patient name"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let patient of patients | search : nameFilter" (click)="navigateToPatient(patient.id)">
    <ion-card-header>
      <ion-card-title>{{ patient.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pending exercises: 1</p>
      <p>Finished exercises: 2</p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="navigateToAddPatient()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>