<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Exercises</ion-title>
  </ion-toolbar>

  <ion-searchbar placeholder="Exercise title" (ionInput)="filterExercises($event)"></ion-searchbar>

  <ion-item>
    <ion-select placeholder="Category">
      <ion-select-option value="">Show all</ion-select-option>
      <ion-select-option *ngFor="let category of categories" value="category">Lorem ipsum</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let exercise of exercises" (click)="navigateToExercise()">
    <ion-card-header>
      <ion-card-title>Lorem ipsum dolor sit amet.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet.</p>
    </ion-card-content>
  </ion-card>
</ion-content>