<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-buttons slot="end">
      <ion-button style="margin-right: 16px" (click)="editProfile()" [disabled]="!editAdministratorForm.valid">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editAdministratorForm">
    <ion-item>
      <ion-label position="floating">Full name*</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <p ion-text color="danger" *ngIf="!editAdministratorForm.controls.name.pristine && !editAdministratorForm.controls.name.valid">
      The name should not be blank
    </p>
  </form>
</ion-content>